head {
    display: none;
}

* {
    display: flex;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#intro {
    background-color: red;
    align-items: center;
    color: white;
}

#intro-top {
    height: 50vh;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

#intro-top div, #intro div {
    cursor: default;
    text-align: center;
}

.hide {
    display: none;
}

.text-large {
    font-size: 4rem;
    text-transform: uppercase;
    font-family: "DejaVu Serif Condensed", monospace;
}

.fill {
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.flag {
    background-size: 100% 100%;

    background-image: linear-gradient(
            to top,
            rgba(77, 20, 140, 1) 0%,
            rgba(77, 20, 140, 1) 18%,
            rgba(27, 119, 205, 1) 18%,
            rgba(27, 119, 205, 1) 33%,
            rgba(54, 160, 48, 1) 33%,
            rgba(54, 160, 48, 1) 50%,
            rgba(255, 210, 0, 1) 50%,
            rgba(255, 210, 0, 1) 66%,
            rgba(255, 160, 0, 1) 66%,
            rgba(255, 160, 0, 1) 83%,
            rgba(207, 15, 15, 1) 83%,
            rgba(207, 15, 15, 1) 100%
    );

}
